body {
  color: #76655d;
  background: #fad3b2;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-top: 30px;
  padding-right: 15%;
  padding-bottom: 0;
  padding-left: 15%; }
  body span {
    background-color: #e29373;
    color: #fad3b2;
    padding-left: 10px;
    padding-right: 10px; }
  body h1 {
    color: #76655d;
    margin-top: 10px;
    margin-bottom: 15px; }
  body h2 {
    color: #76655d;
    margin-top: 10px;
    margin-bottom: 10px; }
  body h3 {
    color: #76655d;
    margin-top: 10px;
    margin-bottom: 0px; }
  body h4 {
    color: #76655d;
    margin-top: 10px;
    margin-bottom: 0px; }
  body p {
    color: #76655d;
    padding-right: 30px; }
  body ul {
    list-style-type: disc;
    padding-top: 20px;
    padding-right: 40%;
    padding-bottom: 40;
    padding-left: 40%;
    align-items: center; }
  body a {
    text-decoration: underline; }
    body a:hover {
      color: #76655d; }
  body img {
    border-radius: 300px; }
